
<body class="header-fixed" id="page-top">
    <div class="wrapper">
        <!--=== Header v6 ===-->
        <div class="header-v6 header-dark-transparent header-sticky">
            <!-- Navbar -->
            <div class="navbar mega-menu" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Navbar Brand -->
                        <div class="navbar-brand">
                            <a href="#page-top" class="page-scroll">
                             <%= image_tag('logohead.png', class: "default-logo") %>
                                  <%= image_tag('logohead.png', class: "shrink-logo") %>

                            </a>
                        </div>
                        <!-- ENd Navbar Brand -->

                        <!-- Header Inner Right -->
                        <div class="header-inner-right">
                            <ul class="menu-icons-list">
                                <li class="menu-icons">
                                    <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                    <div class="search-open">
                                        <input type="text" class="animated fadeIn form-control" placeholder="Start searching ...">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Header Inner Right -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav">
                            </ul>
                        </div>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header v6 ===-->

        <!-- Interactive Slider v2 -->
        <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
            <div class="container">
                <h1 class="cd-headline letters type">
                    
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Generation Next Youth and Revival Ministry</b>
    
                    </span>
                </h1>
                <p>An outreach of Way of Truth Ministries</p>
            </div>
        </div>
        <!-- End Interactive Slider v2 -->

        <!--=== About Us ===-->
        <div class="container content-md">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <h2 class="title-v2">ABOUT US</h2>
                    <p>Dr. Jared Bowling was born on August 1st, 1984 in Jacksonville, North Carolina. Jared was born again on August 2nd, 1992 and he surrendered to the call to preach in 2000 after Dr. Jack Hyles preached at his childhood church, the Lighthouse Baptist Church in Lemon Grove, Ca. After turning 18 years old, Jared ran away from God and joined several rock bands and almost committed suicide after suffering several cases of  depression. God used this time of Jared hitting rock bottom to bring him to a place of surrender.
                    In 2007, Jared started attending Southern California Seminary while paying his way through school, he served as an Inner City Youth Director for Dr. David Jeremiah.  Jared graduated from Southern California Seminary with an undergraduate degree in Biblical Studies. He also earned a Master's in Biblical Studies in 2012 and a Doctorate degree in Biblical Studies from Gulf Coast Bible Institute with Dr. M.H. Tabb. Jared married his wife Rachel in 2012 and they have two children, Chloe and Enoch. He was ordained as an independent fundamental Baptist minister in 2012 and continues to hold to the fundamental doctrines of the faith.</p>
                     </div>
                <div class="col-md-6 overflow-h">
                    <%= image_tag('family.jpg', class: "img-responsive wow slideInUp") %>
                </div>
            </div>
        </div>
        <!--=== End About Us ===-->

        <!--=== Full Width Blocks ===-->
        <div class="container-fluid bg-color-darker">
            <div class="row equal-height-columns no-gutter">
                <div class="col-md-6" id="group2img">
                    <%= image_tag('group2.jpg', class: "img-responsive") %>
                </div>

                <div class="col-md-6 equal-height-column text-center dp-table">
                    <div class="content-boxes-v3 dp-table-cell quote-v1 parallaxBg">
                        <p>if my people, which are called by my name, shall humble themselves, and pray, and seek my face, and turn from their wicked ways; then will I hear from heaven, and will forgive their sin, and will heal their land."</p>
                        <span>2 Chronicles 7:14<a href="#"></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Full Width Blocks ===-->

        <!--=== Colorfull Blocks ===-->
        <h1 class="beliefs">Our Branches</h1>
        <div class="container-fluid">
            <div class="row no-gutter equal-height-columns">
                <div class="col-sm-4">
                    <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
                        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
                        <h2 class="font-light">Church Revivals</h2>
                        <p class="no-margin-bottom font-light">Revivals where a church or several churches of like precious faith come together under
                        one roof for the sole purpose of having a revival meeting.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-block service-block-red no-margin-bottom content equal-height-column">
                        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-layers"></i>
                        <h2 class="font-light">Youth Revivals</h2>
                        <p class="no-margin-bottom font-light">The Youth Rally is much like a "mini-youth conference" that will equip, challenge, and

motivate the youth to get on fire for God by the preaching the word of God, great sound

music, skits, games, food and challenging messages from the Bible.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-support"></i>
                        <h2 class="font-light">Gospel Rallies</h2>
                        <p class="no-margin-bottom font-light">Generation Next will conduct Gospel Rallies throughout the year in different cities around

the country for the sole purpose of reaching the lost with the gospel of Jesus Christ.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Colorfull Blocks ===-->

        <!--=== Cube Portfolio ===-->
        <div class="container content-md">
            <div class="text-center margin-bottom-30">
                <h2 class="title-v2 title-center">GIVE</h2>
                <h3 class="space-lg-hor"> If God has led you to give to this ministry please make your tax deductible donation out to: Way of Truth Ministries
                (Ear mark your check, money order or gift as Youth and Revival ministry). Way of Truth Ministries 315 40th St. Altoona, PA 16602 You will receive a letter in the mail upon receipt. WOTM is a nonprofit 501(c)3 organization</h3>
            </div>
            <br><br><br>

            <div class="cube-portfolio container margin-bottom-20">
                <div class="margin-bottom-30">
                    <div id="filters-container" class="cbp-l-filters-text col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item all"> ALL </div> |
                        <div data-filter=".illustration" class="cbp-filter-item illustration-head"> ILLUSTRATION </div> |
                        <div data-filter=".web-design" class="cbp-filter-item web-design-head"> WEB DESIGN </div> |
                        <div data-filter=".graphic" class="cbp-filter-item graphic-head"> GRAPHIC </div> |
                        <div data-filter=".logo" class="cbp-filter-item logo-head"> LOGO </div>
                    </div><!--/end Filters Container-->
                </div>

                <div id="grid-container" class="cbp-l-grid-gallery">
                    <div class="cbp-item cbp-item-1 illustration web-design col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                            <%= image_tag('group4.jpg', class: 'img-responsive') %>
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Paul Flavius</div>
                                        <div class="cbp-l-caption-desc">Development</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item cbp-item-2 web-design logo col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="Bolt UI<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                            <%= image_tag('group1.jpg', class: 'img-responsive') %>
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                                        <div class="cbp-l-caption-desc">Web-Design</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item cbp-item-3 illustration web-design col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="WhereTO App<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                 <%= image_tag('jarod3.jpg', class: 'img-responsive') %>

                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                                        <div class="cbp-l-caption-desc">Illustration</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="showpic-1 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('group4.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>

                    <div class="showpic-2 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('group1.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>

                    <div class="showpic-3 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('jarod3.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>

                    <div class="cbp-item cbp-item-4 web-design illustration col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="iDevices<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                 <%= image_tag('people1.jpg', class: 'img-responsive') %>
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                                        <div class="cbp-l-caption-desc">Illustration</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item cbp-item-5 web-design graphic col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                 <%= image_tag('Bible.jpg', class: 'img-responsive') %>
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                                        <div class="cbp-l-caption-desc">Illustration</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item cbp-item-6 illustration web-design graphic col-sm-6 col-md-4">
                        <div class="cbp-caption cbp-singlePageInline"
                            data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                 <%= image_tag('Bible2.jpg', class: 'img-responsive') %>
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                                        <div class="cbp-l-caption-desc">Web-Design</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="showpic-4 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('people1.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>

                    <div class="showpic-5 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('Bible.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>

                    <div class="showpic-6 showpic col-xs-12 clearfix" style="padding: 0px;">
                        <div class="col-xs-6"><%= image_tag('Bible2.jpg', class: 'img-responsive') %></div>
                        <div class="col-xs-6">
                        <h2>World Clock Widget</h2>
                        <p>by Paul Flavius Nechita</p>
                        <br>
                        <p>Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</p>
                        </div>
                    </div>
                </div><!--/end Grid Container-->
            </div>
        </div>

        <!--=== End Cube Portfolio ===-->

       <!--=== News Block ===-->
    
        <div class="container content-md" style="padding-top: 0px;">
            <div class="text-center margin-bottom-50">
                <h2 class="title-v2 title-center">UPCOMING EVENTS IN 2017</h2>
                <ul>
                    <li>MOMENT OF TRUTH RADIO PROGRAM Coming Soon in 2017</li>
                    <li>April 16-20th Revival at Calvery Independent Baptist Church, McConnelsburg, PA, Pastor Dr. John Hodge</li> 
                    <li>April 26-30th Revival at Woodcock Valley Bible Church, Saxton, PA.Pastor Barry Yingling</li>May 7-9th Revival at Port Matilda Baptist Church, Port Matilda, PA, Pastor Ryan Smith<li> 
                    <li>May 28th Puzzletown Road Bible Church, Newry, PA, Pastor Jon Gross</li>  
                    <li>June 4th First Baptist Church, Altoona, PA, Pastor Tyler</li>  
                    <li>July 30th-August 3rd Central Pennsylvannia Bible Conference Altoona, PA Youth Rally</li>   
                </ul>
            </div>

            <div class="row news-v2">
                <div class="col-md-4 md-margin-bottom-30">
                    <div class="news-v2-badge">
                         <%= image_tag('radio2.jpg', class: "img-responsive") %>
                        <p>
                            <span>2017</span>
                        </p>
                    </div>
                    <div class="news-v2-desc bg-color-light">
                        <h3><a href="#"><a>Our New Radio Program</a></h3>
                        <p>MOMENT OF TRUTH RADIO PROGRAM </p>
                    </div>
                </div>
                <div class="col-md-4 md-margin-bottom-30">
                    <div class="news-v2-badge">
                         <%= image_tag('church1.jpg', class: "img-responsive") %>
                        <p>
                            <span>16-20</span>
                            <small>April</small>
                        </p>
                    </div>
                    <div class="news-v2-desc bg-color-light">
                        <h3><a href="#"></a>Revival at Calvery Independent Baptist Church</h3>
                        <p>April 16-20th Revival at Calvery Independent Baptist Church, McConnelsburg, PA, Pastor Dr. John Hodge</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-v2-badge">
                        <%= image_tag('church3.jpg', class: "img-responsive") %>
                        <p>
                            <span>26-30</span>
                            <small>April</small>
                        </p>
                    </div>
                    <div class="news-v2-desc bg-color-light">
                        <h3><a href="#">Revival at Woodcock Valley Bible Church</a></h3>
                        <p>Revival at Woodcock Valley Bible Church, Saxton, PA.Pastor Barry Yingling</p>
                    </div>
                </div>
            </div>
        </div>

        <!--=== End News Block ===-->
<div style="padding: 10px; margin-bottom: 20px;">
    <div class="well">
        <h2 class="text-center" style="font-weight: bold;">Statement of Faith:</h2>
        <h3 class="text-center">"We are an independent fundamental Baptist ministry. We believe and preach in an autonomous local church; virgin birth of Christ, vicarious death of Christ, sinless life of Jesus Christ; a literal blood atonement; a bodily resurrection of Christ; the deity of Christ, the Trinity; the eternal blessedness of the saved in Heaven, the eternal torment of the lost in Hell;the pre-tribulation rapture of the church; the verbal plenary inspired and infallible Word of God, the Textus-Receptus (Received Text) and the King James 1611 Version of the Bible. We believe and teach the two ordinances of the church: baptism by immersion as a public profession of faith of and the Lord's supper."</h3>
    </div>
</div>

        <!--=== Hire Block ===-->
        <div class="bg-color-light">
        <div class="hidden">
            <div class="container content-sm">
                <div class="headline-center">
                    <h2>WE ARE HIRING!</h2>
                    <p class="space-lg-hor">Lorem ipsum dolor <span class="color-green">sit amet consectetur</span> adipiscing elit. Nam eget varius leo, at elementum eros. Fusce tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam condimentum arcu eu diam <span class="color-green">gravida cursus</span> morbi ante eros.</p><br>
                </div>
                 <%= image_tag('map-img-v1.png', class: "img-responsive img-center") %>
            </div>
        </div>
        </div>
        <!--=== End Hire Block ===-->

        <!--=== Subscribe Form ===-->
        <div class="shop-subscribe bg-color-red">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 md-margin-bottom-20">
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                            </span>
                        </div>
                    </div>
                </div>
            </div><!--/end container-->
        </div>
        <!--=== Subscribe Form ===-->

        <!--=== Footer v6 ===-->
        <div id="footer-v6" class="footer-v6">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About Us -->
                        <div class="col-md-3 sm-margin-bottom-40">
                            <div class="heading-footer"><h2>About Generation Next Youth and Revival Ministry</h2></div>
                            <p>We are an outreach of Way of Truth Ministries.</p>
                        </div>
                        <!-- End About Us -->
                         <!-- Contacts -->
                        <div class="col-md-3">
                            <div class="heading-footer"><h2>Contacts</h2></div>
                            <ul class="list-unstyled contacts">
                                <li>
                                    <i class="radius-3x fa fa-map-marker"></i>
                                    315 40th St. 
                                    Altoona, PA 16602
                                </li>
                                <li>
                                    <i class="radius-3x fa fa-phone"></i>
                                    (814) 931 6917 <br>
                                    
                                </li>
                                <li>
                                    <i class="radius-3x fa fa-globe"></i>
                                    <a href="#">weneedrevivalnow@gmail.com</a><br>
                                </li>
                            </ul>
                        </div>
                        <!-- End Contacts -->

                          <%= image_tag('globe1.jpg', class: "globe") %>
                          <h3 class="col-xs-6">We must do all we can at this crucial hour <br> in world history to get the gospel out to the<br> world, and to reach the next <br> generation for Jesus Christ.<br>
                                                            - Dr. Jared Bowling</h3>

                    </div>
                </div><!--/container -->
            </div>

            <div class="copyright">
            <div class="hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 sm-margon-bottom-10">
                            <ul class="list-inline terms-menu">
                                <li class="silver">Copyright © 2014 - All Rights Reserved</li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy and Policy</a></li>
                                <li><a href="#">License</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline dark-social pull-right space-bottom-0">
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Vine" href="#">
                                        <i class="fa fa-vine"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Google plus" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Pinterest" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Instagram" href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Tumblr" href="#">
                                        <i class="fa fa-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Youtube" href="#">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Soundcloud" href="#">
                                        <i class="fa fa-soundcloud"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--=== End Footer v6 ===-->
    </div>

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script type="text/javascript">
        $('a.page-scroll').bind('click', function(event) {
       var $anchor = $(this);
       $('html, body').stop().animate({
           scrollTop: ($($anchor.attr('href')).offset().top - 50)
       }, 1250, 'easeInOutExpo');
       event.preventDefault();
   });

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            new WOW().init();
            App.initCounter();
            App.initParallaxBg();
        });


 </script>

<script type="text/javascript">
        $('.all').click(function() {
            $('.cbp-item').show(300);
            $('.cbp-filter-item-active').removeClass('cbp-filter-item-active');
            $('.all').addClass('cbp-filter-item-active');
        });

        $('.web-design-head').click(function() {
            $('.cbp-item:not(.web-design)').hide(300);
            $('.cbp-item.web-design').show(300);
            $('.cbp-filter-item-active').removeClass('cbp-filter-item-active');
            $('.web-design-head').addClass('cbp-filter-item-active');
        });

        $('.illustration-head').click(function() {
            $('.cbp-item:not(.illustration)').hide(300);
            $('.cbp-item.illustration').show(300);
            $('.cbp-filter-item-active').removeClass('cbp-filter-item-active');
            $('.illustration-head').addClass('cbp-filter-item-active');
        });
        $('.graphic-head').click(function() {
            $('.cbp-item:not(.graphic)').hide(300);
            $('.cbp-item.graphic').show(300);
            $('.cbp-filter-item-active').removeClass('cbp-filter-item-active');
            $('.graphic-head').addClass('cbp-filter-item-active');
        });
        $('.logo-head').click(function() {
            $('.cbp-item:not(.logo)').hide(300);
            $('.cbp-item.logo').show(300);
            $('.cbp-filter-item-active').removeClass('cbp-filter-item-active');
            $('.logo-head').addClass('cbp-filter-item-active');
        });

        $(".showpic").slideUp();
        $('.cbp-item-1').click(function() {
            $('.showpic-2, .showpic-3, .showpic-4, .showpic-5, .showpic-6').slideUp();
            $(".showpic-1").slideToggle();
        });
        $('.cbp-item-2').click(function() {
            $('.showpic-1, .showpic-3, .showpic-4, .showpic-5, .showpic-6').slideUp();
            $(".showpic-2").slideToggle();
        });
        $('.cbp-item-3').click(function() {
            $('.showpic-1, .showpic-2, .showpic-4, .showpic-5, .showpic-6').slideUp();
            $(".showpic-3").slideToggle();
        });
        $('.cbp-item-4').click(function() {
            $('.showpic-1, .showpic-2, .showpic-3, .showpic-5, .showpic-6').slideUp();
            $(".showpic-4").slideToggle();
        });
        $('.cbp-item-5').click(function() {
            $('.showpic-1, .showpic-2, .showpic-3, .showpic-4, .showpic-6').slideUp();
            $(".showpic-5").slideToggle();
        });
        $('.cbp-item-6').click(function() {
            $('.showpic-1, .showpic-2, .showpic-3, .showpic-4, .showpic-5').slideUp();
            $(".showpic-6").slideToggle();
        });

    </script>

 <script type="text/javascript">
     /*
* Template Name: Unify - Responsive Bootstrap Template
* Author: @htmlstream
* Website: http://htmlstream.com
*/

var App = function () {
    // We extend jQuery by method hasAttr
    $.fn.hasAttr = function(name) {
      return this.attr(name) !== undefined;
    };

    // Fixed Header
    function handleHeader() {
        jQuery(window).scroll(function() {
          if (jQuery(window).scrollTop() > 100) {
            jQuery('.header-fixed .header-sticky').addClass('header-fixed-shrink');
          } else {
            jQuery('.header-fixed .header-sticky').removeClass('header-fixed-shrink');
          }
        });
    }

    // Header Mega Menu
    function handleMegaMenu() {
        jQuery(document).on('click', '.mega-menu .dropdown-menu', function(e) {
            e.stopPropagation();
        })
    }

    // Search Box (Header)
    function handleSearch() {
        jQuery('.search').on("click", function () {
            if(jQuery('.search-btn').hasClass('fa-search')){
                jQuery('.search-open').fadeIn(500);
                jQuery('.search-btn').removeClass('fa-search');
                jQuery('.search-btn').addClass('fa-times');
            } else {
                jQuery('.search-open').fadeOut(500);
                jQuery('.search-btn').addClass('fa-search');
                jQuery('.search-btn').removeClass('fa-times');
            }
        });
    }

    // Search Box v1 (Header v5)
    function handleSearchV1() {
        jQuery('.header-v5 .search-button').click(function () {
            jQuery('.header-v5 .search-open').slideDown();
        });

        jQuery('.header-v5 .search-close').click(function () {
            jQuery('.header-v5 .search-open').slideUp();
        });

        jQuery(window).scroll(function(){
          if(jQuery(this).scrollTop() > 1) jQuery('.header-v5 .search-open').fadeOut('fast');
        });
    }

    // Search Box v2 (Header v8)
    function handleSearchV2() {
        $(".blog-topbar .search-btn").on("click", function() {
          if (jQuery(".topbar-search-block").hasClass("topbar-search-visible")) {
            jQuery(".topbar-search-block").slideUp();
            jQuery(".topbar-search-block").removeClass("topbar-search-visible");
          } else {
            jQuery(".topbar-search-block").slideDown();
            jQuery(".topbar-search-block").addClass("topbar-search-visible");
          }
        });
        $(".blog-topbar .search-close").on("click", function() {
          jQuery(".topbar-search-block").slideUp();
          jQuery(".topbar-search-block").removeClass("topbar-search-visible");
        });
        jQuery(window).scroll(function() {
          jQuery(".topbar-search-block").slideUp();
          jQuery(".topbar-search-block").removeClass("topbar-search-visible");
        });
    }

    // TopBar (Header v8)
    function handleTopBar() {
        $(".topbar-toggler").on("click", function() {
          if (jQuery(".topbar-toggler").hasClass("topbar-list-visible")) {
            jQuery(".topbar-menu").slideUp();
            jQuery(this).removeClass("topbar-list-visible");
          } else {
            jQuery(".topbar-menu").slideDown();
            jQuery(this).addClass("topbar-list-visible");
          }
        });
    }

    // TopBar SubMenu (Header v8)
    function handleTopBarSubMenu() {
        $(".topbar-list > li").on("click", function(e) {
          if (jQuery(this).children("ul").hasClass("topbar-dropdown")) {
            if (jQuery(this).children("ul").hasClass("topbar-dropdown-visible")) {
              jQuery(this).children(".topbar-dropdown").slideUp();
              jQuery(this).children(".topbar-dropdown").removeClass("topbar-dropdown-visible");
            } else {
              jQuery(this).children(".topbar-dropdown").slideDown();
              jQuery(this).children(".topbar-dropdown").addClass("topbar-dropdown-visible");
            }
          }
          //e.preventDefault();
        });
    }

    // Sidebar Navigation Toggle
    function handleToggle() {
        jQuery('.list-toggle').on('click', function() {
            jQuery(this).toggleClass('active');
        });
    }

    // Equal Height Columns
    function handleEqualHeightColumns() {
        var EqualHeightColumns = function () {
            $(".equal-height-columns").each(function() {
                heights = [];
                $(".equal-height-column", this).each(function() {
                    $(this).removeAttr("style");
                    heights.push($(this).height()); // write column's heights to the array
                });
                $(".equal-height-column", this).height(Math.max.apply(Math, heights)); //find and set max
            });
        }

        EqualHeightColumns();
        $(window).resize(function() {
            EqualHeightColumns();
        });
        $(window).load(function() {
            EqualHeightColumns();
        });
    }

    // Equal Height Image-Columns
    function handleEqualHeightColumns__Images() {
        var EqualHeightColumns__Images = function () {
            $('.equal-height-columns-v2').each(function() {
                var heights = [];
                $('.equal-height-column-v2', this).each(function() {
                    $(this).removeAttr('style');
                    heights.push($(this).height()); // Write column's heights to the array
                });
                $('.equal-height-column-v2', this).height(Math.max.apply(Math, heights)); // Find and set max

                $('.equal-height-column-v2', this).each(function() {
                    if ($(this).hasAttr('data-image-src')) {
                        $(this).css('background', 'url('+$(this).attr('data-image-src')+') no-repeat scroll 50% 0 / cover');
                    }
                });
            });
        }
    $('.equal-height-columns-v2').ready(function() {
      EqualHeightColumns__Images();
    });
        $(window).resize(function() {
            EqualHeightColumns__Images();
        });
    }

    // Full Screen
    var handleFullscreen = function() {
        var WindowHeight = $(window).height();
        var HeaderHeight = 0;

        if ($(document.body).hasClass("promo-padding-top")) {
          HeaderHeight = $(".header").height();
        } else {
          HeaderHeight = 0;
        }

        $(".fullheight").css("height", WindowHeight - HeaderHeight);

        $(window).resize(function() {
          var WindowHeight = $(window).height();
          $(".fullheight").css("height", WindowHeight - HeaderHeight);
        });
    }

    // Align Middle
    var handleValignMiddle = function() {
        $(".valign__middle").each(function() {
          $(this).css("padding-top", $(this).parent().height() / 2 - $(this).height() / 2);
        });
        $(window).resize(function() {
          $(".valign__middle").each(function() {
            $(this).css("padding-top", $(this).parent().height() / 2 - $(this).height() / 2);
          });
        });
    }

    // Hover Selector
    function handleHoverSelector() {
        // $('.hoverSelector').on('hover', function(e) {
        //  $('.hoverSelectorBlock', this).toggleClass('show');
        //  e.stopPropagation();
        // });
        $('.hoverSelector').on('click', function(e) {
          if (jQuery(this).children('ul').hasClass('languages')) {
            if (jQuery(this).children('ul').hasClass('languages-visible')) {
              jQuery(this).children('.languages').slideUp();
              jQuery(this).children('.languages').removeClass('languages-visible');
            } else {
              jQuery(this).children('.languages').slideDown();
              jQuery(this).children('.languages').addClass('languages-visible');
            }
          }
          //e.preventDefault();
        });
    }

    // Bootstrap Tooltips and Popovers
    function handleBootstrap() {
        /* Bootstrap Carousel */
        jQuery('.carousel').carousel({
            interval: 15000,
            pause: 'hover'
        });

        /* Tooltips */
        jQuery('.tooltips').tooltip();
        jQuery('.tooltips-show').tooltip('show');
        jQuery('.tooltips-hide').tooltip('hide');
        jQuery('.tooltips-toggle').tooltip('toggle');
        jQuery('.tooltips-destroy').tooltip('destroy');

        /* Popovers */
        jQuery('.popovers').popover();
        jQuery('.popovers-show').popover('show');
        jQuery('.popovers-hide').popover('hide');
        jQuery('.popovers-toggle').popover('toggle');
        jQuery('.popovers-destroy').popover('destroy');
    }

    return {
        init: function () {
            handleBootstrap();
            handleSearch();
            handleSearchV1();
            handleSearchV2();
            handleTopBar();
            handleTopBarSubMenu();
            handleToggle();
            handleHeader();
            handleMegaMenu();
            handleHoverSelector();
            handleFullscreen();
            handleValignMiddle();
            handleEqualHeightColumns();
            handleEqualHeightColumns__Images();
        },

        // Counters
        initCounter: function () {
            jQuery('.counter').counterUp({
                delay: 10,
                time: 300
            });
        },

        // Parallax Backgrounds
        initParallaxBg: function () {
            jQuery(window).load(function() {
                jQuery('.parallaxBg').parallax("50%", 0.2);
                jQuery('.parallaxBg1').parallax("50%", 0.4);
            });
        },

        // Scroll Bar
        initScrollBar: function () {
            jQuery('.mCustomScrollbar').mCustomScrollbar({
                theme:"minimal",
                scrollInertia: 200,
                scrollEasing: "linear"
            });
        },

        // Sidebar Menu Dropdown
        initSidebarMenuDropdown: function() {
          function SidebarMenuDropdown() {
            jQuery('.header-v7 .dropdown-toggle').on('click', function() {
              jQuery('.header-v7 .dropdown-menu').stop(true, false).slideUp();
              jQuery('.header-v7 .dropdown').removeClass('open');

              if (jQuery(this).siblings('.dropdown-menu').is(":hidden") == true) {
                jQuery(this).siblings('.dropdown-menu').stop(true, false).slideDown();
                jQuery(this).parents('.dropdown').addClass('open');
              }
            });
          }
          SidebarMenuDropdown();
        },

        // Animate Dropdown
        initAnimateDropdown: function() {
          function MenuMode() {
            jQuery('.dropdown').on('show.bs.dropdown', function() {
              jQuery(this).find('.dropdown-menu').first().stop(true, true).slideDown();
            });
            jQuery('.dropdown').on('hide.bs.dropdown', function() {
              jQuery(this).find('.dropdown-menu').first().stop(true, true).slideUp();
            });
          }

          jQuery(window).resize(function() {
            if (jQuery(window).width() > 768) {
              MenuMode();
            }
          });

          if (jQuery(window).width() > 768) {
            MenuMode();
          }
        },
    };
}();

 </script>